@import "libs/_normalize";
@import "libs/_magnific";
@import "libs/_swiper";
@import "libs/_lightgallery";

@import "_vars";
@import "_utils";

$md1: 1250;
$md2: 1170;
$md3: 1020;
$md4: 890;
$md5: 768;
$md6: 720;
$md7: 480;
$md8: 350;
